<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-icon-top':true, 'tabs-positive':true, 'tabs-top':isAndroid}">

  <!-- Travels Tab -->
  <ion-tab icon="icon ion-home" href="#/travel/list">
    <ion-nav-view name="travel-list"></ion-nav-view>
  </ion-tab>

  <!-- Travel Create Tab -->
  <ion-tab icon="icon ion-edit" href="#/travel/create">
    <ion-nav-view name="travel-create"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon="icon ion-person" href="#/travel/account">
    <ion-nav-view name="account-view"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon="icon ion-search" href="#/travel/search">
    <ion-nav-view name="search-view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
