<ion-view title="Create Travel">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Starting point</span>
                    <input type="text" placeholder="Starting point"  ng-model="travel.from">
                </label>
                <label class="item item-input">
                    <span class="input-label">Destination</span>
                    <input type="text" placeholder="Destination" ng-model="travel.to">
                </label>
                <label class="item item-input">
                    <span class="input-label">Available seats</span>
                    <input type="text" placeholder="Seats" ng-model="travel.seats">
                </label>
                <ion-toggle ng-model="travel.allowsPets" toggle-class="toggle-calm">Allows pets</ion-toggle>
                <ion-toggle ng-model="travel.allowsSmoking" toggle-class="toggle-calm">Allows smoking</ion-toggle>



            </ion-list>
            <button class="button button-stable button-block"
                    ng-click="createTravel()">Create</button>
        </form>
    </ion-content>
</ion-view>
