<ion-view title="ITEM DETAIL">
  <ion-nav-buttons side="right">
      <button class="button icon ion-navicon" ng-click="doItemSettingsAction()">
      </button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
      <div class="list card">

  <div class="item item-avatar">
    <img src="icon.png">
    <h2>Marty McFly</h2>
    <p>{{currentTravel.get('price')}}</p>
  </div>

  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">SHOW ME THE MOVES</a>
      <a href="#" class="subdued">Keep It Simple & Stupid </a>
    </p>
  </div>

</div>
    </ion-content>
</ion-view>
