<ion-view title="Travel Feed">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item class="item item-thumbnail-left" ng-repeat="data in travelList" type="item-text-wrap"
                      href="#/travel/list/{{$index}}">
                <pre>{{data.get('from')}}</pre>
                <ion-option-button class="button-assertive" ng-click="doDeleteRow(data.id)">
                    DELETE
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
