<ion-view title="Travel Feed">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item class="item" ng-repeat="data in travelList" type="item-text-wrap"
                      href="#/travel/list/{{data.id}}">
                <pre>{{data.get('from')}}  -->  {{data.get('to')}}</pre>
                <pre>Available seats: {{data.get('seats')}}</pre>
                <pre>Price: {{data.get('price')}}</pre>
                <pre>Click to view details</pre>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
