<ion-view title="Пътувания">
  <ion-content>
      <ion-refresher pulling-text="Опресни" on-refresh="doRefresh()">
      </ion-refresher>
    <ion-list can-swipe="true">
      <label class="item item-input">
        <span class="input-label">Начална точка</span>
        <select name="startingPoint" ng-model="params.from">
          <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Дестинация</span>
        <select name="destinationPoint" ng-model="params.to">
          <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
        </select>
      </label>
      <ion-item class="item" ng-repeat="data in travelList" type="item-text-wrap" href="#/travel/list/{{data.id}}">
        <pre>{{data.get('from')}}  -->  {{data.get('to')}}</pre>
        <pre>Свободни места: {{data.get('seats')}}</pre>
        <pre>Цена: {{data.get('price')}}</pre>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
