<ion-view title="Акаунт">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left" href="#/travel/account/details">
        <i class="icon ion-social-reddit"></i> Моя профил
      </a>

      <a class="item item-icon-left" href="#/travel/account/messages">
        <i class="icon ion-email"></i> Съобщения
        <span class="badge badge-assertive">0</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-notifications"></i> Известия
        <span class="badge badge-assertive">0</span>
      </a>

      <a class="item item-icon-left" href="#/travel/account/password">
        <i class="icon ion-key"></i> Смяна на парола
      </a>

      <a class="item item-icon-left" ng-click="doLogoutAction()">
        <i class="icon ion-log-out"></i> Отписване
      </a>

    </div>
  </ion-content>
</ion-view>
