<ion-view title="Messages">
  <ion-content class="padding">
    <div>
      <h3 class="title">{{toProfile.get('first_name')}} {{toProfile.get('last_name')}}</h3>
      <ion-list can-swipe="true">
        <ion-item class="item" ng-repeat="data in messageList" type="item-text-wrap">
          <div ng-if="fromProfile.id==data.get('sender_profile_id')">
            <pre class="positive" align="right">{{data.get('text')}}</pre>
          </div>
          <div ng-if="toProfile.id==data.get('sender_profile_id')" >
            <pre class="balanced" align="left">{{data.get('text')}}</pre>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-footer">
    <form>
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Message" ng-model="data.text">
        </label>
        <button ng-click="sendMessage()" class="button button-small">
          Send
        </button>
      </div>
    </form>
  </ion-footer-bar>
</ion-view>
